apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: goauthentik
  namespace: kube-system
spec:
  targetNamespace: authentik
  createNamespace: true
  version: "2025.12.1"
  chart: authentik
  repo: https://charts.goauthentik.io/

  valuesContent: |-
    authentik:
      log_level: "debug"
      enabled: true
      postgresql:
        host: "cluster-1-rw.cnpg.svc.cluster.local"
        user: "authentik"
        database: "authentik"

    global:
      volumes:
        - name: fullerfamily-tls-cert
          secret: 
            secretName: fullerfamily-tls
            defaultMode: 0644
            items:
              - key: tls.crt
                path: fullerfamily.cc.pem
              - key: tls.key
                path: fullerfamily.cc.key
        - name: 062625-tls-cert
          secret: 
            secretName: 062625-tls
            defaultMode: 0644
            items:
              - key: tls.crt
                path: 062625.xyz.pem
              - key: tls.key
                path: 062625.xyz.key

      volumeMounts:
        - name: fullerfamily-tls-cert
          mountPath: "/certs/fullerfamily.cc"
          readOnly: true
        - name: 062625-tls-cert
          mountPath: "/certs/062625.xyz"
          readOnly: true

      env:
        - name: AUTHENTIK_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: authentik
              key: secret-key

        - name: AUTHENTIK_POSTGRESQL__PASSWORD
          valueFrom:
            secretKeyRef:
              name: authentik
              key: pg-password

    server:
      route:
        main:
          enabled: true
          hostnames:
            - login.fullerfamily.cc
          https: true
          httpsRedirect: true

    redis:
      enabled: true
