authentik:
  enabled: true
  secret_key: "PleaseGenerateASecureKey"

  postgresql:
    host: postgres.ff.home
    name: authentik
    password: file:///postgres-creds/password
    port: 9100
    user: authentik

server:
  route:
    main:
      enabled: true
      hostnames:
        - login.fullerfamily.cc
      https: true
      httpsRedirect: true
  volumes:
    - name: postgres-creds
      secret:
        secretName: authentik-postgres-credentials
  volumeMounts:
    - name: postgres-creds
      mountPath: /postgres-creds
      readOnly: true

worker:
  volumes:
    - name: postgres-creds
      secret:
        secretName: authentik-postgres-credentials
  volumeMounts:
    - name: postgres-creds
      mountPath: /postgres-creds
      readOnly: true
