apiVersion: v1
kind: Namespace
metadata:
  name:  authentik
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: authentik
  namespace: authentik
spec:
  targetNamespace: authentik
  createNamespace: true
  version: "2025.10"
  chart: goauthentik/authentik
  repo: https://charts.goauthentik.io/

  valuesContent: |-
    authentik:
      enabled: true
      secret_key: "XXXXX"
      postgresql:
        host: "postgres.ff.home"
        user: "authentik"
        password: "XXXXX"
        database: "authentik"

    server:
      route:
        main:
          enabled: true
          hostnames:
            - login.fullerfamily.cc
          https: true
          httpsRedirect: true

    redis:
      enabled: true
