apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: planka
  namespace: kube-system
spec:
  repo: http://plankanban.github.io/planka
  chart: planka
  targetNamespace: plank
  valuesContent: |-
    secretKey: "key"

    admin_email: ""
    admin_password: ""
    admin_name: ""
    admin_username: ""

    base_url: ""

    postgresql:
      enabled: false

    dburl: ""

    oidc:
      enabled: true
      clientId: ""
      clientSecret: ""
      issuerUrl: ""
      admin:
        roles:
          - planka-admin
