apiVersion: v1
kind: Namespace
metadata:
  name:  planka
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: planka
  namespace: planka
spec:
  repo: http://plankanban.github.io/planka
  chart: planka
  targetNamespace: planka
  valuesContent: |-
    secretKey: "XXXXX"

    admin_email: "XXXXX"
    admin_password: "XXXXX"
    admin_name: "Admin Planka"
    admin_username: "admin"

    ingress:
      enabled: true
      hosts:
        - host: board.062625.xyz
          paths:
            - path: /
              pathType: ImplementationSpecific

    postgresql:
      enabled: false

    dburl: "postgresql://planka:XXXXX@postgres.ff.home:9100/planka"

    oidc:
      enabled: true
      clientId: "XXXXX"
      clientSecret: "XXXXX"
      issuerUrl: "XXXXX"
      admin:
        roles:
          - planka-admin
