apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: envoy-gateway
  namespace: envoy-gateway-system
spec:
  gatewayClassName: envoy-gateway-class
  listeners:
    - name: https
      protocol: HTTPS
      port: 443
      hostname: "*.fullerfamily.cc"
      tls:
        mode: Terminate
        certificateRefs:
          - kind: Secret
            group: ""
            name: fullerfamily-tls
    - name: https
      protocol: HTTPS
      port: 443
      hostname: "*.062625.xyz"
      tls:
        mode: Terminate
        certificateRefs:
          - kind: Secret
            group: ""
            name: 062625-tls
