services:
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /mnt/downloads/radarr_config:/config
      - /mnt/downloads/movies:/movies #optional
      - /mnt/downloads:/downloads #optional
    ports:
      - 7878:7878
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /mnt/downloads/sonarr_config:/config
      - /mnt/downloads/shows:/tv #optional
      - /mnt/downloads:/downloads #optional
    ports:
      - 8989:8989
    restart: unless-stopped

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /mnt/downloads/bazarr_config:/config
      - /mnt/downloads/movies:/movies #optional
      - /mnt/downloads/shows:/tv #optional
    ports:
      - 6767:6767
    restart: unless-stopped
