# Docker Compose file for running paperless from the Docker Hub.
# This file contains everything paperless needs to run.
# Paperless supports amd64, arm and arm64 hardware.
#
# All compose files of paperless configure paperless in the following way:
#
# - Paperless is (re)started on system boot, if it was running before shutdown.
# - Docker volumes for storing data are managed by Docker.
# - Folders for importing and exporting files are created in the same directory
#   as this file and mounted to the correct folders inside the container.
# - Paperless listens on port 8000.
#
# In addition to that, this Docker Compose file adds the following optional
# configurations:
#
# - Instead of SQLite (default), PostgreSQL is used as the database server.
#
# To install and update paperless with this file, do the following:
#
# - Copy this file as 'docker-compose.yml' and the files 'docker-compose.env'
#   and '.env' into a folder.
# - Run 'docker compose pull'.
# - Run 'docker compose run --rm webserver createsuperuser' to create a user.
# - Run 'docker compose up -d'.
#
# For more extensive installation and update instructions, refer to the
# documentation.

services:
  redis:
    image: docker.io/library/redis:8
    restart: unless-stopped
    volumes:
      - redisdata:/data

  webserver:
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    restart: unless-stopped
    depends_on:
      - redis
    ports:
      - "2223:8000"
    volumes:
      - ${DOCUMENTS_ROOT}/data:/usr/src/paperless/data
      - ${DOCUMENTS_ROOT}/media:/usr/src/paperless/media
      - ${DOCUMENTS_ROOT}/export:/usr/src/paperless/export
      - ${DOCUMENTS_ROOT}/import:/usr/src/paperless/consume
      - ${DOCUMENTS_ROOT}/trash:/mnt/storage/documents/trash
    environment:
      PAPERLESS_REDIS: redis://redis:6379
      PAPERLESS_DBHOST: ${DB_HOST}
      PAPERLESS_DBPORT: 9100
      PAPERLESS_DBNAME: paperless
      PAPERLESS_DBUSER: ${DB_USERNAME}
      PAPERLESS_DBPASS: ${DB_PASSWORD}
      PAPERLESS_CONSUMER_POLLING: 120

      PAPERLESS_CONSUMPTION_DIR: ${DOCUMENTS_ROOT}/import
      PAPERLESS_EMPTY_TRASH_DIR: ${DOCUMENTS_ROOT}/trash

      PAPERLESS_ADMIN_USER: admin@paperless.com
      PAPERLESS_ADMIN_PASSWORD: ${ADMIN_PASSWORD}


volumes:
  redisdata:
