apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: immich
  namespace: immich
spec:
  repo: https://immich-app.github.io/immich-charts
  chart: immich
  targetNamespace: immich
  createNamespace: true
  valuesContent: |-
    immich:
      persistence:
        library:
          existingClaim: immich-library-pvc
      configuration:
        trash:
          enabled: false
          days: 30

    server:
      controllers:
        main:
          containers:
            main:
              image:
                tag: v2.4.1
              env:
                DB_HOSTNAME: "immich-database-rw.immich.svc.cluster.local"
                DB_USERNAME: "immich"
                DB_PASSWORD: "XXXXX"
                DB_DATABASE_NAME: "immich"
      persistence:
        external:
          enabled: true
          existingClaim: immich-external-library-pvc
          readOnly: true

    microservices:
      persistence:
        external:
          enabled: true
          existingClaim: immich-external-library-pvc
          readOnly: true

    valkey:
      enabled: true


