apiVersion: v1
kind: Namespace
metadata:
  name:  immich
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: photos-nfs-pv
  namespace: immich
spec:
  storageClassName: manual
  persistentVolumeReclaimPolicy: Retain
  capacity: 
    storage: 1T
  accessModes:
    - ReadWriteMany
  nfs:
    server: svr.ff.home
    path: "/mnt/storage/backup_photos"
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: photolibrary-nfs-pv
  namespace: immich
spec:
  storageClassName: manual
  persistentVolumeReclaimPolicy: Retain
  capacity: 
    storage: 1T
  accessModes:
    - ReadWriteMany
  nfs:
    server: svr.ff.home
    path: "/mnt/storage/photos"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-external-library-pvc
  namespace: immich
spec:
  volumeName: photos-nfs-pv
  accessModes:
    - ReadWriteMany
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-library-pvc
  namespace: immich
spec:
  volumeName: photolibrary-nfs-pv
  accessModes:
    - ReadWriteMany
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: immich
  namespace: immich
spec:
  repo: oci://ghcr.io/immich-app
  chart: immich-charts
  targetNamespace: immich
  valuesContent: |-
    server:
      ingress:
        main:
          enabled: true
          hosts:
            - host: photos.fullerfamily.cc
              paths:
                - path: "/"
                  service: main
      controllers:
        main:
          containers:
            main:
              image:
                tag: v2.4.1
              env:
                DB_HOSTNAME: "XXXXX"
                DB_USERNAME: "immich"
                DB_PASSWORD: "XXXXX"
                DB_DATABASE_NAME: "immich"

    valkey:
      enabled: true

    immich:
      persistence:
        library:
          existingClaim: immich-main-library-pvc
