apiVersion: v1
kind: PersistentVolume
metadata:
  name: photolibrary-nfs-pv
  namespace: immich
spec:
  storageClassName: manual
  volumeMode: Filesystem
  persistentVolumeReclaimPolicy: Retain
  capacity: 
    storage: 1T
  accessModes:
    - ReadWriteMany
  nfs:
    server: svr.ff.home
    path: "/mnt/storage/backup_photos"
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: externallibrary-nfs-pv
  namespace: immich
spec:
  storageClassName: manual
  volumeMode: Filesystem
  persistentVolumeReclaimPolicy: Retain
  capacity: 
    storage: 1T
  accessModes:
    - ReadWriteMany
  nfs:
    server: svr.ff.home
    path: "/mnt/storage/photos"
    readOnly: true
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-library-pvc
  namespace: immich
spec:
  volumeName: photolibrary-nfs-pv
  storageClassName: manual
  resources:
    requests:
      storage: 1T
  accessModes:
    - ReadWriteMany
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-external-library-pvc
  namespace: immich
spec:
  volumeName: externallibrary-nfs-pv
  storageClassName: manual
  resources:
    requests:
      storage: 1T
  accessModes:
    - ReadWriteMany
