apiVersion: v1
kind: Secret
metadata:
  name: bw-auth-token
  namespace: immich 
type: Opaque
stringData:
  token: XXXXX
---
apiVersion: k8s.bitwarden.com/v1
kind: BitwardenSecret
metadata:
  labels:
    app.kubernetes.io/name: bitwardensecret
    app.kubernetes.io/part-of: sm-operator
    app.kubernetes.io/created-by: sm-operator
  name: immich 
  namespace: immich
spec:
  organizationId: eabfd0f9-cc8a-414c-a8ce-b3cf016546cc
  secretName: immich
  map:
    - bwSecretId: a560d37c-306c-4371-a655-b3d8011314b6
      secretKeyName: pg-password
    - bwSecretId: 73f92757-6765-4c55-abf7-b3d80111ca51      
      secretKeyName: client-id
    - bwSecretId: 56b62533-e969-46fd-9ae9-b3d80111db1a
      secretKeyName: client-secret
  authToken:
    secretName: bw-auth-token
    secretKey: token
---
apiVersion: k8s.bitwarden.com/v1
kind: BitwardenSecret
metadata:
  labels:
    app.kubernetes.io/name: bitwardensecret
    app.kubernetes.io/part-of: sm-operator
    app.kubernetes.io/created-by: sm-operator
  name: cloudflare-r2
  namespace: immich
spec:
  organizationId: eabfd0f9-cc8a-414c-a8ce-b3cf016546cc
  secretName: cloudflare-r2
  map:
    - bwSecretId: a584b474-6183-405c-803e-b3dc0138a103
      secretKeyName: access-key
    - bwSecretId: 0e4daf62-bb11-46cf-81d1-b3dc0138c064
      secretKeyName: access-secret
  authToken:
    secretName: bw-auth-token
    secretKey: token
